@import "../../style/main.scss";
.btn {
  color: $white;
  cursor: pointer;
  padding: 10px;
  background-color: $ligth-blue;
  font-weight: bold;
  width: 100%;
  font-size: 18px;
  border-radius: 6px;
  border: none;
}
.btn {
  @include height-modifiers;
}
