@import "../../style/main.scss";

.text-box-box {
  position: relative;

  input[type="text"]:focus {
    outline: none;
  }

  input[type="text"] {
    color: $dark;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
  }

  label {
    color: $blue;
  }
  .error-box {
    width: 120px;
    background-color: $ligth-blue;
    color: $white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }
  .text-input {
    border: 0;
    @include border-bottom;
    @include height-modifiers;
  }

  .text-input ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: $blue;
    transition: 0.4s;
  }

  .text-input:focus ~ .focus-border {
    width: 100%;
    transition: 0.4s;
    left: 0;
  }
}
