.main-div-select {
  width: 100%;
  display: flex;
}

.main-div-select > .select-lable-text {
  color: var(--DarkBlue);
  text-align: left;
  padding-left: 10px;
  font-weight: bold;
  width: 30%;
}
.main-div-select > .select-box {
  width: 70%;
}
select {
  border-radius: 4px;
  border: 1px solid var(--DarkBlue);
  line-height: 2;
  outline: none;
  appearance: none;
  cursor: pointer;
  width: 100%;
}
select option {
  text-align: center;
}

.select-box label {
  position: relative;
}

.select-box label:after {
  content: "<";
  font-size: 15px;
  color: var(--Secondary);
  transform: rotate(90deg);
  right: 8px;
  top: 2px;
  position: absolute;
  pointer-events: none;
}
.select-box label:before {
  content: "";
  right: 1px;
  top: -3px;
  width: 25px;
  height: 26px;
  background: rgb(207, 234, 244);
  position: absolute;
  display: block;
  border-left: 1px solid var(--Secondary);
  border-radius: 2px;
}
.select-box-invalid-feedack {
  color: var(--DarkBlue);
  text-align: left;
  padding-left: 10px;
  font-weight: bold;
}
