:root {
  --Dark: #1e1b1b;
  --NeturalDrak: #666464;
  --NeturalLight: #dbdbdb;
  --Info: #5cc0c6;
  --White: #ffffff;
  --DarkBlue: #5c8fc6;
  --Warning: #edb754;
  --LightBlue: #b5cbe2;
  --Success: #04aa6d;
  --Error: #dc3545;
}
.box-invalid-feedack {
  width: 100%;
  color: var(--Error);
  margin-right: 10px;
}
