:root {
  --Dark: #1e1b1b;
  --NeturalDrak: #666464;
  --NeturalLight: #dbdbdb;
  --Info: #5cc0c6;
  --White: #ffffff;
  --DarkBlue: #5c8fc6;
  --Warning: #edb754;
  --LightBlue: #b5cbe2;
  --Success: #04aa6d;
  --Error: #dc3545;
}
.dark {
  color: var(--Dark) !important;
}

.secondary {
  color: var(--Secondary) !important;
}
.info {
  color: var(--Info) !important;
}
.white {
  color: var(--White) !important;
}
.ligthblue {
  color: var(--LightBlue) !important;
}
.darkblue {
  color: var(--DarkBlue) !important;
}
/*bg Color*/

.bg-info {
  background-color: var(--Info) !important;
}
.bg-secondary {
  color: var(--Secondary) !important;
}

/*font*/
.fs10 {
  font-size: 10px !important;
}
.fs12 {
  font-size: 12px !important;
}
.fs14 {
  font-size: 14px !important;
}
.fs16 {
  font-size: 16px !important;
}
.fs18 {
  font-size: 18px !important;
}
.fs20 {
  font-size: 20px !important;
}
.fs24 {
  font-size: 24px !important;
}
.box-invalid-feedack {
  width: 100%;
  color: var(--Error);
  margin-right: 10px;
}
